In [70]:
def p (x, *args, y=1): 
    print (type(args),":",x,y)
    #print (type(*args,1,2))
    for z in args:
        print ("z: ",str(z))

In [71]:
p(1,2,3,4,1)

<class 'tuple'> : 1 1
z:  2
z:  3
z:  4
z:  1

In [72]:
def report_status(**kwargs):
    """Print out the status of a movie character."""

    print("\nBEGIN: REPORT\n")
    print (type(kwargs))

    # Iterate over the key-value pairs of kwargs
    for k, v in kwargs.items():
        # Print out the keys and values, separated by a colon ':'
        print(k,": ",v)

    print("\nEND REPORT")

In [73]:
report_status(q=1,r=2,s=3)

BEGIN: REPORT

<class 'dict'>
q :  1
r :  2
s :  3

END REPORT

In [74]:
#enumarates example

In [75]:
import pandas as pd

In [76]:
df = pd.read_csv('tweets.csv', index_col=0)

In [77]:
df.head(2) #due to chunkszie

,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,id_str,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
contributors,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."

In [78]:
d =df.index
d

Float64Index([nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
              nan, nan, nan, nan, nan, nan, nan, nan, nan],
             dtype='float64', name='contributors')

In [79]:
from functools import reduce


# Create a list of strings: stark
stark = {"a":1, "a":1, "a":3, "b":1, "e":1}

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1,item2:item1+item2, stark)

In [80]:
result

'abe'

In [81]:
import builtins

In [82]:
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [83]:
import math
def sqrt(s):
    try:
        if s < 0:
            raise ValueError("negative number")
        print(math.sqrt(s))
    except Exception as e:
        print ("Error1",e)

In [84]:
sqrt('5')

Error1 '<' not supported between instances of 'str' and 'int'

In [85]:
#lambda, reduce and filter

In [86]:
values = range(10,21)

In [87]:
type(values)

range

In [88]:
a=[1,2,3,4]
type(enumerate(a))

enumerate

In [89]:
b=[5,6,7,8]
c = zip(a,b)
type(c)

zip

In [90]:
print (list(enumerate(a, start=100)), list(zip(a,b)))

[(100, 1), (101, 2), (102, 3), (103, 4)] [(1, 5), (2, 6), (3, 7), (4, 8)]

In [91]:
z1=zip(a,b)

In [92]:
r1,r2=zip(*z1) #unpacking zip

In [93]:
print (r1,  r2)

(1, 2, 3, 4) (5, 6, 7, 8)

In [94]:
total =0
entry={}
for chunks in pd.read_csv('tweets.csv', chunksize=10):
    for x in chunks['lang']:
        if x in entry.keys():
            entry[x]+=1
        else:
            entry[x]=1

entry

{'en': 97, 'et': 1, 'und': 2}

In [95]:
nums=[1,4,5,6,7,8]
numsmod=[x+1 for x in nums]
numsmod

[2, 5, 6, 7, 8, 9]

In [96]:
num1=map(lambda x:x+1, nums)
num1

In [97]:
list(num1)

[2, 5, 6, 7, 8, 9]

In [98]:
nums2=[1,3,4,5,6]
nums3=[(n1,n2) for n1 in nums for n2 in nums2]
nums3

[(1, 1),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (4, 1),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (5, 1),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (6, 1),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (7, 1),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (8, 1),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6)]

In [99]:
matrix = [[col for col in range(5)] for row in range(5)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [100]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Create list comprehension: new_fellowship
new_fellowship = [ x for x in fellowship if len(x)>=7]
new_fellowship

['samwise', 'aragorn', 'legolas', 'boromir']

In [101]:
new_fellowship = [ x if len(x)>=7 else '' for x in fellowship ]
new_fellowship

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

In [102]:
new_fellowshipdict={x:len(x) for x in fellowship}
new_fellowshipdict

{'aragorn': 7,
 'boromir': 7,
 'frodo': 5,
 'gimli': 5,
 'legolas': 7,
 'merry': 5,
 'samwise': 7}

In [103]:
result = (x for x in range(0,31))
# Print the first 5 values
print(next(result))
print(next(result))

# Print the rest of the values
for value in result:
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [104]:
def generateList(n): #lazy evaluation x= (i for in range(5)) #generator function
    i=0
    while i<n:
        yield i #yield value for generators
        i+=1

r=generateList(5)
list(r)

[0, 1, 2, 3, 4]

In [105]:
#panda loc and iloc

In [106]:
# numpy example

In [107]:
x=["a","b","c","d"]
y=[4,2,3,5]
xydict=dict(zip(x,y))
print(xydict.items())
xydict

dict_items([('a', 4), ('b', 2), ('c', 3), ('d', 5)])

{'a': 4, 'b': 2, 'c': 3, 'd': 5}

In [108]:
dfxy=pd.DataFrame(columns=['a','b','c','d'],data=xydict, index=[0])
dfxy.head(2)

   a  b  c  d
0  4  2  3  5

In [110]:
dfxy1=pd.DataFrame(xydict,index=[0])
dfxy1.head()

   a  b  c  d
0  4  2  3  5

In [111]:
# for iterating large file use generator function to yield line and then iterate over generator object 
# you can use pandas chunksize to read data into chunks

In [ ]:
# Initialize reader object: urb_pop_reader
urb_pop_reader = pd.read_csv('ind_pop_data.csv', chunksize=1000)

# Get the first DataFrame chunk: df_urb_pop
df_urb_pop = next(urb_pop_reader)

# Check out the head of the DataFrame
print(df_urb_pop.head())

# Check out specific country: df_pop_ceb
df_pop_ceb = df_urb_pop[df_urb_pop['CountryCode'] == 'CEB']

# Zip DataFrame columns of interest: pops
pops = zip(df_pop_ceb['Total Population'],df_pop_ceb['Urban population (% of total)'])

# Turn zip object into list: pops_list
pops_list = list(pops)

# Print pops_list
print(pops_list)